# Ignore node_modules directories
node_modules/

# Ignore environment variables file
.env

# Ignore React build output
client/build/

# Ignore log files
*.log

# Ignore IDE settings
.vscode/
.idea/

# Ignore macOS folder settings
.DS_Store